<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="apiVersion" value="2016-07-25-Preview" />
    <add key="apiKey" value="AD6ED4A72D0726D71EB1958168DB0E1DFD0C30005C968DAE4209D785EAF65FD9" />
    <add key="proxyServerUrl" value="http://azureninjaproxy.azurewebsites.net" />
  </appSettings>
</configuration>